html {
  height: 100%;
  min-height: 100%;
}

.App { 
  text-align: center;
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url("fundo.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  height: 40vmin;
}

.patrocinio {
  width: 100px;
}

.logoPatrocinador {
  width: 300px;
}

.titlePatrocinadores {
  font-family: 'Luckiest Guy', cursive;
  font-size: 30px;
  color: #C72b81;
}

.titleLocalizacao {
  font-family: 'Luckiest Guy', cursive;
  font-size: 15px;
  color: #C72b81;
  margin-top: 50px;
}

.botao img {
  width: 150px;
}

.patrocinio:hover {
  width: 150px;
}

.casarao {
  margin-top: -25px ;
  font-family: 'Luckiest Guy', cursive;
  color: #C72b81;
  text-shadow: -1px 0 white, 0 1px white,
  1px 0 white, 0 -1px white;
}

.quadroFundo {
  text-align: center;
  background-color: white;
  width: 60vh;
  margin-top: 20px;
  border-radius: 10px;
  border: #C72b81 solid 2px;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}