html {
  height: 100%;
  min-height: 100%;
}

.App { 
  text-align: center;
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url("fundo.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.App-logo {
  height: 40vmin;
}

.patrocinio {
  width: 100px;
}

.logoPatrocinador {
  width: 300px;
}

footer {
  margin-top: auto;
}

.titlePatrocinadores {
  font-family: 'Luckiest Guy', cursive;
  font-size: 30px;
  color: #C72b81;
}

.titleLocalizacao {
  font-family: 'Luckiest Guy', cursive;
  font-size: 20px;
  color: #C72b81;
}